.tip-calc__display-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tip-calc__text-header {
  font-size: 16px;
  color: var(--white);
  display: block;
  font: inherit;
}
.tip-calc__text-subheader {
  color: var(--gray);
  font-size: 13px;
  display: block;
  font: inherit;
}
.tip-calc__display-value {
  color: var(--light) ;
  font: inherit;
  font-size: 32px;
}
