.edit-form {
  display: flex;
  flex-direction: column;
  gap: var(--six);
  margin-top: var(--size14);
}
.edit-form__actions {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--size10);
}

.edit-form__actions-section {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  justify-items: flex-end;
}
.edit-form__header {
  padding-left: var(--size6);
  font-size: var(--size6);
}
.edit-form__section-label {
  font-size: 1.2rem;
  color: var(--purple1);
  font-weight: bold;
  line-height: 1.5rem;
  letter-spacing: -0.025px;
  margin: var(--size4) 0;
}

.edit-form__sender {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30%);
  gap: 1rem 2rem;
}
.edit-form__sender > :first-child {
  grid-column: 1 / -1;
}

.edit-form__client {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30%);
  gap: 1rem 2rem;
  margin-bottom: 1rem;
}
.edit-form__client > :nth-child(-n + 3) {
  grid-column: 1 / -1;
}

.edit-form__dropdowns {
  display: flex;
  gap: 2rem;
}
