.themed-button {
}

.themed-button__primary {
  background: var(--primaryBackground);
  color: var(--primaryText);
}
.themed-button__primary:hover {
  background: var(--primaryBackgroundHover);
}

.themed-button__secondary {
  background: var(--secondaryBackground);
  color: var(--secondaryText);
}
.themed-button__secondary:hover {
  background: var(--secondaryBackgroundHover);
}
