.inv-text-field {
  min-height: 4.8rem;
  border-radius: 0.4rem;
  max-width: var(--width);
  margin-top: 1rem;
  padding: 0 1.7rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.025px;
  background: var(--uiElementBackground);
  color: var(--uiElementText);
  border: 1px solid var(--uiElementBorder);
  color: var(--uiElementText);
}

.inv-text-field__container {
  display: flex;
  flex-direction: column;
  gap: var(--six);
  margin: var(--six) 0;
  padding: var(--six) 0;
}

.inv-text-field {
  color: var(--uiElementText);
  border: 1px solid var(--uiElementBorder);
}

.inv-text-field__error {
  color: var(--dangerBorder);
  border: 1px solid var(--dangerBorder);
  label {
    color: var(--dangerBorder);
  }
}

.inv-text-field__error-message {
  color: var(--dangerBorder);
}
.inv-text-field__label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
