.inv-text-field {
  min-width: 24rem;
  min-height: 4.8rem;
  border-radius: 0.4rem;
  margin-top: 1rem;
  padding: 0 1.7rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.025px;
}

.inv-text-field__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inv-text-field__light {
  color: var(--dark-alpha);
  border: 1px solid var(--secondary-bravo);
}

.inv-text-field__light:active {
  border: 1px solid var(--primary-bravo);
  outline-color: var(--primary-bravo);
}

.inv-text-field__light:focus {
  border: 1px solid var(--primary-bravo);
  outline-color: var(--primary-bravo);
}

.inv-text-field__light:focus-visible {
  border: 1px solid var(--primary-bravo);
  outline-color: var(--primary-bravo);
}

.inv-text-field__dark {
  background: var(--dark-charlie);
  color: #fff;
  border: 1px solid var(--dark-delta);
}

.inv-text-field__dark:active {
  border: 1px solid var(--dark-charlie);
  outline-color: var(--dark-charlie);
}

.inv-text-field__dark:focus {
  border: 1px solid var(--dark-charlie);
  outline-color: var(--dark-charlie);
}

.inv-text-field__dark:focus-visible {
  border: 1px solid var(--dark-charlie);
  outline-color: var(--dark-charlie);
}
