.button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--bold);
  height: var(--size9);
  color: var(--blackDark);
  letter-spacing: 1.25px;
  border-radius: var(--xLarge);
  width: 100%;
  text-transform: uppercase;
}
.button:hover {
  cursor: pointer;
}
.button:disabled {
  cursor: not-allowed;
  background-image: none;
  pointer-events: none;
  opacity: 0.9 !important;
}
.button svg {
  width: var(--size6);
  height: var(--size6);
  margin-left: var(--ten);
}

.light {
  background: var(--primaryDark);
  box-shadow: 0px -8px 0px 0px #118c87 inset;
}

.light:hover {
  background: var(--primaryLight);
}
.light:focus {
  background: var(--primaryLight);
}
.subtle {
  background: var(--grayDark);
  box-shadow: 0px -4px 0px 0px #6b8997 inset;
}

.subtle:hover {
  background: var(--grayLight);
}
.subtle:focus {
  background: var(--grayLight);
}
.default {
  background: var(--accentDark);
  box-shadow: 0px -8px 0px 0px #cc8b13 inset;
}

.default:hover {
  background: var(--accentLight);
}
.default:focus {
  background: var(--accentLight);
}

.sm {
  font-size: var(--fontSize2);
  height: 5.2rem;
  width: 5.2rem;
  border-radius: var(--medium);
}
.md {
  font-size: var(--fontSize2);
  height: 5.2rem;
  border-radius: var(--medium);
}
.lg {
  font-size: var(--fontSize4);
  height: 6.7rem;
  border-radius: var(--large);
}
