.main-button {
}

.main-button__small {
  /* min-width: 7.3rem; */
}
.main-button__medium {
  /* min-width: 15rem; */
}
.main-button__large {
  /* min-width: 35rem; */
}

.main-button__primary {
  background: var(--primaryBackground);
  color: var(--primaryText);
}
.main-button__primary:hover {
  background: var(--primaryBackgroundHover);
}
.main-button__secondary {
  background: var(--secondaryBackground);
  color: var(--secondaryText);
}
.main-button__secondary:hover {
  background: var(--secondaryBackgroundHover);
}
.main-button__danger {
  background: var(--dangerBackground);
  color: var(--dangerText);
}
.main-button__danger:hover {
  background: var(--dangerBackgroundHover);
}

.main-button__tertiary {
  background: var(--tertiaryBackground);
  color: var(--tertiaryText);
}
.main-button__tertiary:hover {
  background: var(--tertiaryBackgroundHover);
}

.main-button__subtle {
  background: var(--subtleBackground);
  color: var(--subtleText);
}
.main-button__subtle:hover {
  background: var(--subtleBackgroundHover);
}
.main-button__icon {
  padding: 1.7rem 1rem 1.7rem 0.5rem;
  justify-content: space-around;
}

.main-button__disabled {
  pointer-events: none;
  opacity: 0.5;
}
