.sidebar-overlay {
  position: fixed;
  inset: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.sidebar-content {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  max-width: 71.9rem;
  height: 100vh;
  background-color: var(--uiElementBackgroundSecondary);
  box-sizing: border-box;
  z-index: 1000;
  border-radius: 0 2rem 2rem 0;
  align-items: center;
  justify-content: space-around;
}

.sidebar-close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
}
